<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Release<br>Year</th>
      <th>Rating</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% books.forEach(function(b) { %>
      <tr>
        <td><%= b.title %></td>
        <td><%= b.author %></td>
        <td><%= b.genre %></td>
        <td><%= b.releaseYear %></td>
        <td><%= b.rating %></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
