<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: </div>
    <div><%= book.title %></div>
    <div>Author: </div>
    <div><%= book.author %></div>
    <div>Genre: </div>
    <div><%= book.genre %></div>
    <div>Release Year: </div>
    <div><%= book.releaseYear %></div>
    <div>Rating: </div>
    <div><%= book.rating %></div>
  </section>

  <%- include('../partials/footer') %>